###### Q1. Pearson correlation coefficient is a measure of the linear relationship between two variables. Suppose you have collected data on the amount of time students spend studying for an exam and their final exam scores. Calculate the Pearson correlation coefficient between these two variables and interpret the result.

In [1]:
import numpy as np

study = np.random.randint(0,24,(10))
result = np.random.randint(0,100,(10))

np.corrcoef(study, result)

array([[ 1.        , -0.05103606],
       [-0.05103606,  1.        ]])

As the value for Pearson correlation coefficient we get 0.13, it shows there is little bit positive correlation inbetween study and the result. That mean the more we study much higher the result and vice-versa.

###### Q2. Spearman's rank correlation is a measure of the monotonic relationship between two variables. Suppose you have collected data on the amount of sleep individuals get each night and their overall job satisfaction level on a scale of 1 to 10. Calculate the Spearman's rank correlation between these two variables and interpret the result.

In [2]:
sleep = np.random.randint(0,10,(10))
satisfaction = np.random.randint(0,10,(10))

import pandas as pd

df = pd.DataFrame(
    {
        'Sleep' : sleep,
        'Result' : result
    }
)

df

   Sleep  Result
0      7      62
1      9      84
2      4      95
3      3      60
4      2      73
5      7      81
6      7      97
7      7      56
8      5      80
9      3      41

In [3]:
df.corr(method = 'spearman')

           Sleep    Result
Sleep   1.000000  0.388946
Result  0.388946  1.000000

There is a positive covarience between sleep and Result. So, sleep more and work less and efficiently!

###### Q3. Suppose you are conducting a study to examine the relationship between the number of hours of exercise per week and body mass index (BMI) in a sample of adults. You collected data on both variables for 50 participants. Calculate the Pearson correlation coefficient and the Spearman's rank correlation between these two variables and compare the results.

In [4]:
ex_hour = np.random.randint(0,4,(50))
bmi = np.random.randint(10,50,(50))

df = pd.DataFrame(
    {
        'ex_hour' : ex_hour,
        'bmi' : bmi
    }
)

df.head()

   ex_hour  bmi
0        3   29
1        3   26
2        0   21
3        3   37
4        0   48

In [5]:
df.corr(method = 'spearman')

         ex_hour      bmi
ex_hour  1.00000  0.00309
bmi      0.00309  1.00000

In [6]:
df.corr(method = 'pearson')

          ex_hour       bmi
ex_hour  1.000000  0.020332
bmi      0.020332  1.000000

Both Cases shows that there is no relationship between exercise hours and BMI.

###### Q4. A researcher is interested in examining the relationship between the number of hours individuals spend watching television per day and their level of physical activity. The researcher collected data on both variables from a sample of 50 participants. Calculate the Pearson correlation coefficient between these two variables.

In [7]:
tv_hour = np.random.randint(0,24,(50))
physical_hour = [24-i for i in tv_hour]

df = pd.DataFrame(
    {
        'tv_hour' : tv_hour ,
        'physical_hour' :physical_hour
    }
)

df.head()

   tv_hour  physical_hour
0       15              9
1       23              1
2        9             15
3       23              1
4       18              6

In [8]:
df.corr(method='pearson')

               tv_hour  physical_hour
tv_hour            1.0           -1.0
physical_hour     -1.0            1.0

There is a strong negative correlation between TV hour and Physical Activity Level. That meansmore TV hours people have less physical activity

###### Q5. A survey was conducted to examine the relationship between age and preference for a particular brand of soft drink. The survey results are shown below:

In [9]:
df = pd.DataFrame(
    {
        'Age' : [25,42,37,19,31,28] ,
        'drinks' : ['coke', 'pepsi', 'mountain dew', 'coke', 'pepsi', 'coke']
    }
)
from sklearn.preprocessing import LabelEncoder
lbl_encoder=LabelEncoder()
data = lbl_encoder.fit_transform(df[['drinks']])

C:\Users\prita\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [10]:
data

array([0, 2, 1, 0, 2, 0])

In [11]:
enc_df = pd.DataFrame(data, columns=['drinks_encoded'])
enc_df

   drinks_encoded
0               0
1               2
2               1
3               0
4               2
5               0

In [12]:
df = pd.concat([df,enc_df], axis = 1)
df

   Age        drinks  drinks_encoded
0   25          coke               0
1   42         pepsi               2
2   37  mountain dew               1
3   19          coke               0
4   31         pepsi               2
5   28          coke               0

In [13]:
df[['Age','drinks_encoded']].corr(method='pearson')

                     Age  drinks_encoded
Age             1.000000        0.769175
drinks_encoded  0.769175        1.000000

This data shows that older people like pepsi more while younger people like coke

###### Q6. A company is interested in examining the relationship between the number of sales calls made per day and the number of sales made per week. The company collected data on both variables from a sample of 30 sales representatives. Calculate the Pearson correlation coefficient between these two variables.

In [14]:
call = np.random.randint(0,100,(30))
sale = np.random.randint(0,700,(30))

df = pd.DataFrame(
    {
        'call' : call ,
        'sale' : [i//7 for i in sale]
    }
)

df.head()

   call  sale
0    39    71
1    50    32
2    53    65
3    78    46
4    66     5

In [15]:
df.corr(method='pearson')

          call      sale
call  1.000000 -0.246402
sale -0.246402  1.000000

There is a slight positive colrelation in between call and sales.