###### Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

MongoDB is a source-available cross-platform document-oriented database program. Classified as a NoSQL database program, MongoDB uses JSON-like documents with optional schemas.

A non-relational database is a database that does not use the tabular schema of rows and columns found in most traditional database systems. Instead, non-relational databases use a storage model that is optimized for the specific requirements of the type of data being stored.

If the â€œdata is unstructured and complex, or if we can't pre-define the schema and need to handle a large volume of data and store it as documents, it is better to opt for MongoDB.

###### Q2. State and Explain the features of MongoDB.

Features of MongoDB include the following:

Replication. A replica set is two or more MongoDB instances used to provide high availability. Replica sets are made of primary and secondary servers. The primary MongoDB server performs all the read and write operations, while the secondary replica keeps a copy of the data. If a primary replica fails, the secondary replica is then used.

Scalability. MongoDB supports vertical and horizontal scaling. Vertical scaling works by adding more power to an existing machine, while horizontal scaling works by adding more machines to a user's resources.

Load balancing. MongoDB handles load balancing without the need for a separate, dedicated load balancer, through either vertical or horizontal scaling.

Schema-less. MongoDB is a schema-less database, which means the database can manage data without the need for a blueprint.

Document. Data in MongoDB is stored in documents with key-value pairs instead of rows and columns, which makes the data more flexible when compared to SQL databases.

###### Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [2]:
# connecting to MongoDB.
from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://pritam:pritam@cluster0.nanzphi.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [3]:
db = client['pw_Assignment'] # database creation

In [4]:
coll = db['assignment_collection'] #collection creation

###### Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

In [5]:
record = {
    'name' : 'FirstName LastName',
    'Org' : 'Company'
}

In [6]:
coll.insert_one(record)

In [7]:
records = [
    { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [8]:
coll.insert_many(records)

In [9]:
coll.find_one()

{'_id': ObjectId('6534aebc06265117669dba9e'),
 'name': 'FirstName LastName',
 'Org': 'Company'}

In [10]:
for i in coll.find():
    print(i)

{'_id': ObjectId('6534aebc06265117669dba9e'), 'name': 'FirstName LastName', 'Org': 'Company'}
{'_id': ObjectId('6534b31f06265117669dba9f'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6534b31f06265117669dbaa0'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6534b31f06265117669dbaa1'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6534b31f06265117669dbaa2'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6534b31f06265117669dbaa3'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6534b31f06265117669dbaa4'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6534b31f06265117669dbaa5'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6534b31f06265117669dbaa6'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6534b31f06265117669dbaa7'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6534b31f06265117669dbaa8'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6534b31f06265117669dbaa9'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6534b31f06265117669dbaaa'), 'name': 'Viola', 'address': 'Sideway 1633'}

###### Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

In MongoDB, find() method is used to select documents in a collection and return a cursor to the selected documents. Cursor means a pointer that points to a document, when we use find() method it returns a pointer on the selected documents and returns one by one.

In [16]:
print(list(coll.find({'name' : 'Ben'})))

[{'_id': ObjectId('6534b31f06265117669dbaa7'), 'name': 'Ben', 'address': 'Park Lane 38'}]

###### Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

The sort() method specifies the order in which the query returns the matching documents from the given collection.You must apply this method to the cursor before retrieving any documents from the database. It takes a document as a parameter that contains a field: value pair that defines the sort order of the result set. The value is 1 or -1 specifying an ascending or descending sort respectively.

In [28]:
list(coll.find().sort("name", -1))

[{'_id': ObjectId('6534b31f06265117669dbaa8'),
  'name': 'William',
  'address': 'Central st 954'},
 {'_id': ObjectId('6534b31f06265117669dbaaa'),
  'name': 'Viola',
  'address': 'Sideway 1633'},
 {'_id': ObjectId('6534b31f06265117669dbaa6'),
  'name': 'Vicky',
  'address': 'Yellow Garden 2'},
 {'_id': ObjectId('6534b31f06265117669dbaa5'),
  'name': 'Susan',
  'address': 'One way 98'},
 {'_id': ObjectId('6534b31f06265117669dbaa2'),
  'name': 'Sandy',
  'address': 'Ocean blvd 2'},
 {'_id': ObjectId('6534b31f06265117669dbaa4'),
  'name': 'Richard',
  'address': 'Sky st 331'},
 {'_id': ObjectId('6534b31f06265117669dbaa1'),
  'name': 'Michael',
  'address': 'Valley 345'},
 {'_id': ObjectId('6534b31f06265117669dbaa0'),
  'name': 'Hannah',
  'address': 'Mountain 21'},
 {'_id': ObjectId('6534aebc06265117669dba9e'),
  'name': 'FirstName LastName',
  'Org': 'Company'},
 {'_id': ObjectId('6534b31f06265117669dbaa9'),
  'name': 'Chuck',
  'address': 'Main Road 989'},
 {'_id': ObjectId('6534b31f06265117669dbaa3'),
  'name': 'Betty',
  'address': 'Green Grass 1'},
 {'_id': ObjectId('6534b31f06265117669dbaa7'),
  'name': 'Ben',
  'address': 'Park Lane 38'},
 {'_id': ObjectId('6534b31f06265117669dba9f'),
  'name': 'Amy',
  'address': 'Apple st 652'}]

###### Q7. Explain why delete_one(), delete_many(), and drop() is used.

delete_one() is used to delete one document.

In [30]:
coll.delete_one({'name' : 'amy'})

In [32]:
list(coll.find({'name' : 'Amy'}))

[{'_id': ObjectId('6534b31f06265117669dba9f'),
  'name': 'Amy',
  'address': 'Apple st 652'}]

In [33]:
coll.delete_one({'name' : 'Amy'})

In [34]:
list(coll.find({'name' : 'Amy'}))

[]

To delete more than one document, we use the delete_many() method.

In [35]:
# Delete all documents where the name starts with the letter B:
myquery = { "name": {"$regex": "^B"} }

x = coll.delete_many(myquery)

print(x.deleted_count, " documents deleted.")

2  documents deleted.

To delete a collection in MongoDB, we use the drop() method.

In [36]:
coll.drop()

In [37]:
db = client.pw_Assignment

In [39]:
db.list_collection_names()

[]