Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of structured information, or data, typically stored electronically in a computer system

SQL databases are relational, and NoSQL databases are non-relational. SQL databases use structured query language (SQL) and have a predefined schema. NoSQL databases have dynamic schemas for unstructured data. SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

A data definition language (DDL) is a computer language used to create and modify the structure of database objects in a database. These database objects include views, schemas, tables, indexes, etc.

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

A data manipulation language (DML) is a computer programming language used for adding (inserting), deleting, and modifying (updating) data in a database.

Q4. What is DQL? Explain SELECT with an example.

Data Query Languages are computer languages that are used to make various queries in information systems and databases.

Examples of CREATE, DROP, ALTER, TRUNCATE, INSERT, UPDATE, DELETE, SELECT are given below.

In [1]:
# pip install mysql-connector-python

In [2]:
# pip install pymysql

In [3]:
import mysql.connector

In [4]:
mydb = mysql.connector.connect(
  host = "localhost",
  user="root",
  password="password"
)
mycursor = mydb.cursor()

CREATE - Create is used to create databases, tables, views, indexs or procedures in SQL

In [5]:
mycursor.execute("CREATE DATABASE if not exists pyDB")

DROP - DROP command in SQL removes table definition and all the data from one or more database tables.

In [6]:
mycursor.execute("Drop TABLE if exists pyDB.test_table")
mycursor.execute("CREATE TABLE if not exists pyDB.test_table(c1 INT,c2 VARCHAR(50),c3 INT,c4 FLOAT,c5 VARCHAR(40))")

INSERT - The INSERT INTO statement is used to insert new records in a table.

In [7]:
command = "insert into pyDB.test_table values(123, 'Pritam', 234, 456.5,'Ghosh') "

for i in range(10):
    mycursor.execute(command)

In [8]:
mydb.commit()

SELECT - The SELECT statement is used to select data from a database.

In [9]:
mycursor.execute("select * from pyDB.test_table")
for i in mycursor.fetchall():
    print(i)

(123, 'Pritam', 234, 456.5, 'Ghosh')
(123, 'Pritam', 234, 456.5, 'Ghosh')
(123, 'Pritam', 234, 456.5, 'Ghosh')
(123, 'Pritam', 234, 456.5, 'Ghosh')
(123, 'Pritam', 234, 456.5, 'Ghosh')
(123, 'Pritam', 234, 456.5, 'Ghosh')
(123, 'Pritam', 234, 456.5, 'Ghosh')
(123, 'Pritam', 234, 456.5, 'Ghosh')
(123, 'Pritam', 234, 456.5, 'Ghosh')
(123, 'Pritam', 234, 456.5, 'Ghosh')

TRUNCATE - The TRUNCATE command is used to remove all of the rows from a table, regardless of whether or not any conditions are met and resets the table definition.

In [10]:
mycursor.execute("TRUNCATE TABLE pyDB.test_table")
mycursor.execute("select * from pyDB.test_table")
print(len(mycursor.fetchall()))

0

In [11]:
for i in range(10):
    command = "insert into pyDB.test_table values("+str(i)+", 'Pritam', 234, 456.5,'Ghosh') "
    mycursor.execute(command)

mydb.commit()

mycursor.execute("select * from pyDB.test_table")
for i in mycursor.fetchall():
    print(i)

(0, 'Pritam', 234, 456.5, 'Ghosh')
(1, 'Pritam', 234, 456.5, 'Ghosh')
(2, 'Pritam', 234, 456.5, 'Ghosh')
(3, 'Pritam', 234, 456.5, 'Ghosh')
(4, 'Pritam', 234, 456.5, 'Ghosh')
(5, 'Pritam', 234, 456.5, 'Ghosh')
(6, 'Pritam', 234, 456.5, 'Ghosh')
(7, 'Pritam', 234, 456.5, 'Ghosh')
(8, 'Pritam', 234, 456.5, 'Ghosh')
(9, 'Pritam', 234, 456.5, 'Ghosh')

DELETE - The DELETE statement is used to do selective deletion for existing records in a table.

In [12]:
mycursor.execute("DELETE FROM pyDB.test_table WHERE c1 = 0")
mycursor.execute("select * from pyDB.test_table")
for i in mycursor.fetchall():
    print(i)

(1, 'Pritam', 234, 456.5, 'Ghosh')
(2, 'Pritam', 234, 456.5, 'Ghosh')
(3, 'Pritam', 234, 456.5, 'Ghosh')
(4, 'Pritam', 234, 456.5, 'Ghosh')
(5, 'Pritam', 234, 456.5, 'Ghosh')
(6, 'Pritam', 234, 456.5, 'Ghosh')
(7, 'Pritam', 234, 456.5, 'Ghosh')
(8, 'Pritam', 234, 456.5, 'Ghosh')
(9, 'Pritam', 234, 456.5, 'Ghosh')

ALTER - Alter is used to add, remove rename or modify a column inside a Table

In [13]:
mycursor.execute("Alter table pyDB.test_table drop c3")

In [14]:
mycursor.execute("DESCRIBE pyDB.test_table")
print ([column[0] for column in mycursor.fetchall()])

['c1', 'c2', 'c4', 'c5']

In [15]:
mycursor.execute("select * from pyDB.test_table ")
print (mycursor.description)
for i in mycursor.fetchall():
    print(i)

[('c1', 3, None, None, None, None, 1, 32768, 63), ('c2', 253, None, None, None, None, 1, 0, 255), ('c4', 4, None, None, None, None, 1, 32768, 63), ('c5', 253, None, None, None, None, 1, 0, 255)]
(1, 'Pritam', 456.5, 'Ghosh')
(2, 'Pritam', 456.5, 'Ghosh')
(3, 'Pritam', 456.5, 'Ghosh')
(4, 'Pritam', 456.5, 'Ghosh')
(5, 'Pritam', 456.5, 'Ghosh')
(6, 'Pritam', 456.5, 'Ghosh')
(7, 'Pritam', 456.5, 'Ghosh')
(8, 'Pritam', 456.5, 'Ghosh')
(9, 'Pritam', 456.5, 'Ghosh')

UPDATE - The UPDATE statement is used to modify the existing records in a table.

In [16]:
command = "UPDATE pyDB.test_table SET c2 = 'FirstName', c5 = 'LastName' WHERE c1 = 9"

mycursor.execute(command)
mycursor.execute("select * from pyDB.test_table ")
for i in mycursor.fetchall():
    print(i)
    
mycursor.close()

(1, 'Pritam', 456.5, 'Ghosh')
(2, 'Pritam', 456.5, 'Ghosh')
(3, 'Pritam', 456.5, 'Ghosh')
(4, 'Pritam', 456.5, 'Ghosh')
(5, 'Pritam', 456.5, 'Ghosh')
(6, 'Pritam', 456.5, 'Ghosh')
(7, 'Pritam', 456.5, 'Ghosh')
(8, 'Pritam', 456.5, 'Ghosh')
(9, 'FirstName', 456.5, 'LastName')

True

Q5. Explain Primary Key and Foreign Key.

 A primary key is a unique identifier for each record in a table. 
 
 A foreign key establishes a relationship between tables by referencing the primary key of another table.

For Example, in a customer table we can have columns as cust_id(primary key), cust_name, cust_add and cust_ph_no. 

But in the transaction table we only have the cust_id from customer table as a foreign key creating a relationship between customer table and trnsaction table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [17]:
import mysql.connector
mydb = mysql.connector.connect(
  host = "localhost",
  user="root",
  password="password"
)

# Cursor method sets up a connection, establishing a session with the MySQL server. If no arguments are given, it uses the already configured or default values.
mycursor = mydb.cursor()

# Execute method executes the given database operation (query or command). The parameters found in the tuple or dictionary params are bound to the variables in the operation. Specify variables using %s or %(name)s parameter style (that is, using format or pyformat style). execute() returns an iterator if multi is True. 
mycursor.execute("select * from pyDB.test_table")

Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of an SQL query’s clauses is as follows:

    First, the table on which the DML operation is performed has to be processed. So, the FROM clause is evaluated first in an SQL Query. If the query contains JOIN clauses, tables are combined by merging rows involved, before FROM clause. So, JOIN predates FROM in statements with JOIN. Now table data is acquired before any filter or group is done. So subsequent clauses can be evaluated based on this data which is much smaller than the original tables before JOIN operations. This also processes the subqueries.
    
    SQL may create a temporary table internally to evaluate this. To make code memory efficient, it is good to have simpler table JOINs it would be highly memory intensive.
    WHERE: After the table data on which other operations take place is processed by JOIN and FROM clause, WHERE clause is evaluated. WHERE clause filters the rows based on conditions from the table evaluated by the FROM clause. This WHERE clause discards rows that don’t satisfy the conditions, thus reducing the rows of data that need to be processed further in other clauses.
    
    GROUP BY: If the query has a GROUP BY clause, it is executed next. Here, the data is grouped based on the common value in the column specified in the GROUP BY clause. This reduces the number of rows further equal to no of distinct values in the GROUP BY column. This helps to calculate aggregate functions.
    
    HAVING: If the query had a GROUP BY clause, the HAVING clause is evaluated immediately after GROUP BY. HAVING clause is not compulsory for GROUP BY. Similar to WHERE operations, this clause also filters the table group processed before by the GROUP BY clause. This HAVING also discards rows that don’t satisfy the conditions, thus reducing the rows of data that need to be processed further in other clauses
    
    SELECT: The SELECT is executed next after GROUP BY and HAVING. It computes expressions (arithmetic, aggregate, etc.) and aliases given in the SELECT clause. The computation is now performed on the smallest dataset after much filtering and grouping operations done by previous clauses.
    
    DISTINCT: The DISTINCT clause is executed after evaluating expressions, and alias references in the previous step. It filters any duplicate rows and returns only unique rows.
    
    ORDER BY: After executing all the above clauses, the data to be displayed or processed is computed. Now ORDER BY is executed to sort it based on particular column(s) either in ascending or descending order. It is left associative, that is it is sorted based on the first specified column and then by the second, and so on.
    
    LIMIT/OFFSET: At last, after the order of data to be processed is evaluated, LIMIT and OFFSET clauses are evaluated to display only the rows that fall within the LIMIT. So, it is generally not recommended to LIMIT only certain rows from many rows evaluated before, since It is not efficient and waste of computation.